<div class="container">
  <h1 class="text-center text-light">coins</h1>

  <div class="my-2 w-100">
    <input
      type="text"
      class="form-control bg-dark text-muted border-0"
      placeholder="Search..."
      name="search"
      (keyup)="searchCoin()"
      [(ngModel)]="searchText"
    />
  </div>
  <table class="table table-striped table-hover table-dark">
    <thead>
      <tr>
        <th *ngFor="let title of titles">{{ title }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let coin of copyCoins; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          <img
            [src]="coin.image"
            alt="{{ coin.name }}"
            width="40"
            class="me-2"
          />
          <span>
            <td>{{ coin.name }}</td>
          </span>
          <span class="ms-2">
            <td class="text-primary">{{ coin.symbol.toUpperCase() }}</td>
          </span>
        </td>
        <td>$ {{ coin.current_price.toLocaleString() }} USD</td>
        <td
          [ngClass]="
            coin.price_change_percentage_24h > 0
              ? 'text-success'
              : 'text-danger'
          "
        >
          {{ coin.price_change_percentage_24h.toLocaleString() }} %
        </td>
        <td>{{ coin.total_volume.toLocaleString() }}</td>
      </tr>
    </tbody>
  </table>
</div>
